.subtitle {
    font-style: italic;
}

/*.author {
    position: absolute;
    right: 0px;
}*/

.shell {
    font-family: monospace;
    background-color: #F0F0F0;
}

.mlsc {
    border: solid 2px navy;
    padding:2px;
    background-color: #F0F0F0;
}

.inline-src {
    font-family: monospace;
    background-color: #F0F0F0;
}
